@media(max-width: 1920px){
.field-icon {
    right: 97px;
}
}
@media(max-width: 1500px){
a.nav-link.nav_link_custom.class_inside_anchorr.active {
    width: 95%;
}
}
@media(max-width: 1450px){
/*.groupp_introo {
    padding: 10px 44px;
}*/
span.edit_deact_picc_span_box.tour_attract_iconn.tour_attract_iconn {
    left: 50px;
}
/*a.nav-link.nav_link_custom.class_inside_anchorr.active {
    width: 95%;
}*/
.ttl_bnr {
    width: 71px;
    margin-right: -36px;
}
.ttl_bnr.faqq {
    width: 119px;
}
}
@media(max-width: 1400px){
img.img-fluid.cam_filee_cls_featured_ads.intro_screen {
    width: 156px;
}
span.from_to_select {
    padding-left: 0px;
    margin-left: 8px;
}
span.search_boxx {
    margin-left: 14px;
}
/*table#data1{
    width: 20%;
}*/
}
@media(max-width: 1366px){
.field-icon {
    right: 71px;
}
label.ttl_bnr.tourr {
    /*width: 70px;*/
    margin-right: -4px;
}
.div_cover_sell {
   width: 20%;
}
.card-body.card_body_add_team.new_cls_add_city.tourr {
    padding: 27px 29px;
}
.div_cover_sell_new {
    width: 71%;
}
label.ttl_bnr.tourr.stop_mainn_imgg_title_lbl {
    margin-left: -43px;
}
.class_scroll {
    overflow-x: scroll;
    overflow-y: hidden;
}
/*.card.table_cardd*/.class_scroll::-webkit-scrollbar {
   /* width: 2px;*/
    height: 10px;
  }

/* Track */
/*.card.table_cardd*/.class_scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #505B7A; 
  border-radius: 10px;
}
 
/* Handle */
/*.card.table_cardd*/.class_scroll::-webkit-scrollbar-thumb {
  background: #ffd400; 
  border-radius: 10px;
}

/* Handle on hover */
/*.card.table_cardd*/.class_scroll::-webkit-scrollbar-thumb:hover {
  background: #000; 
}
section.content.home_conntent.sales_promoo.saless_only {
    width: 90%;
}
.nav-tabs.abc>li>a {
    margin: 2px 0px;
}
span.icons_add_team_pg.only_modify.modifyyy.modify_editteamm {
    margin-left: -62px;
}
img.img-fluid.cam_filee_cls_featured_ads.intro_screen.musicc {
    width: 63px;
}
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light.header_custom-class {
    width: 79%;
    left: -52px;
}
input.from_text {
    width: 13%;
}
input.to_text {
    width: 13%;
}
}
@media(max-width: 1300px){
.nav-tabs.abc>li>a {
    padding: 1px 77px;
}
span.edit_deact_picc_span_box.class_responn{
    margin-left: -14px;
}

.row_inner_clss_for_mainn {
    /* width: 100%; */
    display: flex;
    margin-left: -43px;
}
.ttl_bnr {

    margin-right: -30px;
}
/*.card.card_team_mgmt{
    width: 102%;
}*/
/*img.img-fluid.cam_filee_cls_featured_ads.intro_screen {
    width: 164px;
}
.ttl_bnr {
    font-size: 9px;
    margin-right: 5px;
    }*/
  /*  .img_one_cam.new_class_img_one.intro_screen {
    left: 198px;
}*/
/*nav.main-header.navbar.navbar-expand.navbar-white.navbar-light.header_custom-class {
    max-width: 72%;
    right: -61px;
}*/
}
@media(max-width: 1280px){
.nav-tabs.abc>li>a {
    padding: 4px 71px;
}
}
@media(max-width: 1240px){
/*table#data1 {
    width: 34%;
}*/
/*table.table.table-striped.new_class_table{
    width: 34%;
}*/
}
@media(max-width: 1200px){
.wlcm_to_wdn {
    font-size: 21px;
}
select#role{
    padding: 0 3px 2px 4px;
    margin-left: 7px;
}
/*input.from_text{
    width: 9%;
}*/
span.from_to_select{
    width: 9%;
}
span.key {
    font-size: 12px;
}
.addguide_part_two {
    width: 38%;
}
/*.ttl_bnr.add-gui {
    width: 112px;
}*/
.tbl_row{
    font-size: 10px;
}
.wrapper_tours_details{
    width: 100%;
}
.serach_by_text{
    font-size: 13px;
}
.card-body.card_body_team_mgmt{
    padding: 17px 5px;
}
.grp_three{
    flex-direction: column;
}
.short_descriptionn_divv{
    margin-left: 0px;
}
.form-group.row.custom_row_tourr.mrgin_btmm {
    margin-bottom: 18px;
}
.form-group.row.custom_row_tourr {
    width: 100%;
}
input.form-control.formn_custom_class_add_form.add_cityy_form {
    width: 60%;
}
.select_age_grp_box {
    margin-left: 72px;
}
.col-sm-2.dayName {
    font-size: 13px;
}
.start_end_time_algnment {
    font-size: 12px;
}
select.activity_drop_down {
    font-size: 20px;
}
input.form-control.custom_form_ctrl_pro_acti {
    font-size: 15px;
}
input[type=file] {
    width: 55%;
    font-size: 13px;
}
button.btn.btn-primary.timing_btn {
    font-size: 13px;
}
label.wrapper_labels {
    font-size: 13px;
    padding-left: 67px;
}
.common_for_algnmnt {
    font-size: 17px;
    padding: 20px;
    padding-bottom: 114px;
    margin-top: 78px;
}
.for_partition_neww {
    font-family: Roboto;
    font-size: 17px;
}
button.btn.btn-primary.add_another_activity_btn {
    font-size: 15px;
}
.edit_activity_text {
    font-size: 20px;
}
button.btn.btn-primary.create_coupon_btn {
    font-size: 15px;
}
.view_by_dt {
    font-family: Roboto;
    font-size: 19px;
}
button.btn.btn-primary.cancl_approve_btn_wdn {
    font-size: 12px;
}
.custom-navbar li {
   
    font-size: 20px;
}
.stv_fry {
    
    font-size: 20px;
}
.for_partition {
    font-size: 18px;
}
.name_cls {
    font-size: 18px;
}
button.btn.btn-danger.allergy_malaria_btn {
  
    font-size: 16px;
  
}
button.btn.btn-danger.sign_out_btn {
   
    font-size: 21px;
   
}
.para_wdn {
    font-size: 15px;
}
.wlcm_to_wdn_on_img {
   
    font-size: 20px;
 }
 .para_wdn_on_img {
    
    margin-top: -15px;
    font-size: 13px;
}
.text_on_img {
   
    top: 350px;
}
input.form-control.custom_class_form {
    font-size: 13px;
}
.popup_box {
    max-width: 90%;
}
input.form-control.price_box_coupon {
    max-width: 75%;
}
.popup_box {
    padding: 20px 30px;
}
.nav-tabs.abc>li>a {
    
    font-size: 17px;
    padding: 4px 76px;
    
}
.main_menu_three_tabs {
    
    width: 69%;
}
}
@media(max-width: 1024px){
textarea.custom_form_ctrl_pro_acti.textarea_desc_place {
    margin-right: 53px;
}
.select_age_grp_box {
    margin-left: 62px;
}
}
@media(max-width: 992px){
button.btn.btn-danger.sign_in_btn_class {
    font-size: 13px;
}
.div_cover_sell{
   border: none;
}
img.img-fluid.cam_filee_cls_featured_ads{
    margin-left: 20px;
}
img.img-fluid.cam_filee_cls_featured_ads.intro_screen.banner_imgg_width{
    margin-left: 20px;
}
input.form-control.formn_custom_class_add_form.add_cityy_form{
    margin-left: 20px;
}
.select_age_grp_box {
    margin-left: 58px;
}
label.wrapper_labels {
    padding-left: 87px;
}
/*input.form-control.custom_form_ctrl_pro_acti {
    margin-left: 81px;
}*/
.modal-content.custom-modal-content_timing {
    padding: 20px 23px;
}
button.btn.btn-primary.agree_btn_Modal_footer {
    font-size: 13px;
    padding: 9px 17px;
}
label.booking_cmplt_wrpr {
    margin-top: 0px;
    margin-bottom: 24px;
}
.book_det_wrapper_old.class_for_remove_bottom_bar {
    max-width: 100%;
}
.booking_det_main {
    font-size: 25px;
}
span.text_mammy {
    font-size: 13px;
}
a.btn.btn-primary.save_and_proceed {
    font-size: 16px;
    padding: 9px 37px;
}
textarea.custom_form_ctrl_pro_acti.textarea_desc_place {
    font-size: 15px;
}
input[type=file] {
    width: 61%;
}
button.btn.btn-primary.timing_btn {
    font-size: 11px;
}
.for_partition_neww {
    font-size: 12px;
}
.common_for_algnmnt {
    padding: 10px;
    padding-bottom: 124px;
    margin-top: 87px;
    font-size: 15px;
}
input.form-control.price_box_coupon {
    max-width: 100%;
}
.add_bnr_img_para {
    font-size: 16px;
}
.book_det_wrapper_transactions.for_padding_media {
    padding-bottom: 33px;
    max-width: 95%;
}
.enter_det_text {
    font-size: 23px;
}
.edit_activity_text {
    font-size: 17px;
}
.Discount_price_heading {
    font-size: 30px;
}
button.btn.btn-primary.create_coupon_btn {
    font-size: 12px;
}
button.btn.btn-primary.add_another_activity_btn {
    font-size: 12px;
  /*  padding: 2px 10px 34px 10px;
    margin-left: 24px;*/
}
/*button.btn.btn-primary.cancl_approve_btn_wdn {
    font-size: 12px;
    padding: 17px 91px;
}*/
button.btn.btn-danger.allergy_malaria_btn {
    font-size: 10px;
    padding: 6px 8px;
    margin-top: -8px;
}
.for_partition {
    font-size: 15px;
    width: 40%;
}
.stv_fry {
    font-size: 15px;
}
.name_cls {
    font-size: 15px;
}
.custom-navbar li {
    font-size: 18px;
    padding: 14px 13px;
}
button.btn.btn-danger.sign_out_btn {
    font-size: 18px;
}
.nav-tabs.abc>li>a {
   
    padding: 4px 49px;
}
button.btn.btn-primary.register_btn_of_wdn_login {
    font-size: 13px;
}
.new_user_anchor {

    font-size: 13px;
}
.text_on_img {
    top: 278px;
}
.sign_in_btn_box {
    margin-top: 51px;
}
.custom_cont{
    padding-bottom: 50px;
}
input.form-control.custom_class_form {
   
    padding: 12px 16px;
}
input.form-control.custom_class_form {
    width: 95%;

}
.field-icon {
    right: 27px;
}
button.btn.btn-danger.sign_in_btn_class {
    width: 95%;
}
.below_pass_stmt {
   padding-left: 5px;
   font-size: 12px;
}
}
@media(max-width: 991px){
textarea.custom_form_ctrl_pro_acti.textarea_desc_place {
    margin-right: 35px;
}
button.apply_btnn{
    width: 100%;
    max-width: 23%;
}
textarea.form-control.formn_custom_class_add_form.login_scrn.title_box_npt.support{
    margin-left: 50px;
}
button.btn.btn-default.add_button{
    margin: 0 auto;
    display: flex;
    margin-bottom: 10px;
}
textarea.form-control.formn_custom_class_add_form.login_scrn{
    margin-left: 30px;
}
/*.title_box_npt{
    margin-left: 30px;
}*/
textarea.form-control.formn_custom_class_add_form.login_scrn.new_logg{
    margin-left: 0px;
}
textarea.form-control.formn_custom_class_add_form.login_scrn.logg_scr{
    margin-left: 0px;
}
.save_div_onboard{
    width: 100%;
}
.save_div_onboard.new_onboardd{
    margin-top: 0px;
}
img.img-fluid.cam_filee_cls_featured_ads{
    margin-left: 0px;
}
input.form-control.formn_custom_class_add_form.add_cityy_form{
    margin-left: 0px;
}
img.img-fluid.cam_filee_cls_featured_ads.intro_screen.banner_imgg_width{
    margin-left: 0px;
}
input.form-control.formn_custom_class_add_form.add_cityy_form.code_input_boxx{
    width: 60%;
}
.card-body.card_body_add_team.new_cls_add_city {
    padding-left: 25px
}
span.key {
    font-size: 14px;
}
.addguide_part_two{
    width: 100%;
    display: flex;
    justify-content: center;
}
.add_guide_part_one{
    width: 100%;
    border: none;
}
/*button.btn.btn-default.add_button{
    display: flex;
   margin: 0 auto;
}*/
.sales_neww_box_divv {
    width: 90%;
    /* text-align: center; */
    margin: 0 auto;
}
.card.table_cardd.class_scroll.sales_scroll{
    width: 90%;
}
.card.card_team_mgmt.promo_code.userr_promo.saless_cardd{
  width: 90%;
}
.row_inner_clss_for_mainn {
    margin-left: 0;
}
label.wrapper_labels {
    padding-left: 46px;
}
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light.header_custom-class {
    width: 98%;
    left: -30px;
}
}
@media(max-width: 840px){
.text_on_img {
    top: 220px;
}
}
@media(max-width: 768px){
.form-control.formn_custom_class_add_form{
    width: 100%;
}
/*span.from_to_select{
    display: block;
}*/
span.search_boxx{
    display: block;
    width: 80%;
    margin-left: 0px;
}
img.img-fluid.down_icon_cls {
   float: right;
   margin-top: -27px;
}
.search_boxx input[type=text]{
    text-align: center;
    width: 32%;
}
/*i.fa.fa-sliders.to_open_sidebarr{
        display: block;
}*/
/*aside.main-sidebar.elevation-1.custom_class_sdbr{
    width: 100%;
    display: none;
}*/
button.btn.btn-default.add_button {
    font-size: 10px;
    padding: 4px 14px;
}
span.banner_span_box{
    margin-left: 0px;
}
img.img-fluid.cam_filee_cls_featured_ads.accountt_screen{
    margin-left: 0px;
}
span.banner_span_box{
    margin-right: 0px;
}
label.ttl_bnr.acc_scr_ttl{
    margin-left: 0px;
}
.title_box_npt.new_nptt{
    width: 63%;
}
img.img-fluid.cam_filee_cls_featured_ads.intro_screen.onbrd_img_new_class.new_img_onbrdd{
    margin-left: 0px;
}
img.img-fluid.cam_filee_cls_featured_ads.intro_screen.banner_imgg_width{
    margin-left: 3px;
}
img.img-fluid.cam_filee_cls_featured_ads{
    margin-left: 30px;
}
input.form-control.formn_custom_class_add_form.add_cityy_form{
    margin-left: 3px;
}
/*img.img-fluid.cross_pic {
    width: 66%;
}*/
.wrapper_tours_details {
    margin-bottom: 18px;
}
/*p.tbl_row.value{
    text-align: center;
}*/
/*.card.card_team_mgmt.promo_code.sales_users_prodd.new_class_mgn_top.sales_cls_neww{
    margin-left: -17px;
    width: 105%;
}*/
textarea.form-control.formn_custom_class_add_form.login_scrn.title_box_npt.support{
        width: 50%;
}
.title_box_npt.support {
    width: 50%;
}

.title_box_npt {
    width: 91%;
}
}
@media(max-width: 767px){
.right_image_box {
    margin: 0 auto;
    text-align: center;
}
.to_display_inline.date_displayy {
    display: grid;
}
button.btn.btn-primary.create_btn_wdn {
    font-size: 13px;
    padding: 7px 24px;
}
input.form-control.price_box_coupon {
    font-size: 13px;
}
.or_text {
    font-size: 15px;
}
.custom_modal_hdr_pro_coupon {
    width: 85%;
}
.for_partition {
   
    width: 26%;
}
.booking_left_part_for_padding {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.book_det_wrapper_old.class_for_remove_bottom_bar {
    margin-top: 35px;
}
.right_box_wdn{
    display: flex;
    justify-content: center;
}

button.btn.btn-primary.timing_btn {
    margin-left: 100px;
}
.container_custom_check_box1 {
  
    padding-left: 100px;
}
.select_age_grp_box {
    margin-left: 93px;
}
.modal-content.custom-modal-content_timing {
    width: 75%;
}
h4.timing_heading {
    font-size: 17px;
}
.book_det_wrapper_old {
    max-width: 100%;
}
.class_approve_cancl_box {
    margin: 0 auto;
}

.common_for_algnmnt {
    margin-top: 23px;
    padding-bottom: 32px;
}
.booking_det_main {
    font-size: 19px;
    margin-top: -2px;
}
.edit_activity_text {
    font-size: 15px;
}
.custom-navbar li {
    font-size: 15px;
    padding: 9px 0px;
}
.proceed-button {
    margin-top: 42px;
    margin-bottom: -8px;
}
input[type=file] {
    width: 45%;
    display: block;
    margin:0 auto;
}
a.btn.btn-primary.save_and_proceed {
    font-size: 14px;
    padding: 8px 31px;
}
/*.or_text{
    display: none;
}*/
.wrapper_input_boxes {
    width: 100%;
    float: left;
}
label.add_photo_styling {
    font-size: 12px;
}
label.wrapper_labels {
    padding-left: 100px;
}
textarea.custom_form_ctrl_pro_acti.textarea_desc_place {
    margin-right: 87px;
}
label.booking_cmplt_wrpr {
    font-size: 12px;
    padding-right: 0px;
    margin-top: 43px;
}
.stv_fry {
    font-size: 17px;
    margin-top: -4px;
    text-align: center;
}
button.btn.btn-danger.allergy_malaria_btn {
    padding: 5px 4px;
}
/*.common_for_algnmnt {

    margin-top: 11px;
    padding-left: 0px;
    font-size: 14px;
}*/
.for_partition_neww {
    font-size: 14px;
    text-align: center;
}
.div_for_search_box {
    max-width: 95%;
}
.div_for_search_box {
    padding: 20px 6px;
}
.search_text {
    font-size: 16px;
    padding: 6px 0px 0px 0px;
}
img.img-fluid.img_of_date_view {
    margin-top: -59px;
}
.div_for_date_view {
    margin-top: 38px;
    max-width: 95%;
}
.view_by_dt {
    font-size: 16px;
}
img.img-fluid.img_of_search_icon {
    margin-top: -19px;
}
/*p.for_partition {
    padding: 28px;
    margin-bottom: -46px;
    width: 38%;
}*/
button.btn.btn-primary.view_act_det_btn {
    font-size: 15px;
}
.radio_btn_classs {
    margin-top: -119px;
}
.activity_box {
    float: none;
   max-width: 58%;
    text-align: center;
    margin: 0 auto;
     margin-top: 100px;
}
.edit_activity_wrpr {
    padding-right: 0px;
    margin-top: 10px;
}
.fst_row_profile_page {
    margin: 0 auto;
    display: flex;
    margin-top: 45px;
}
.form-enter-detail .container {
    max-width: 95%;
}
button.btn.btn-primary.save_btn_wdn {
    font-size: 13px;
    padding: 14px 113px;
}
.choose_date {
    font-size: 20px;
}
.custom-navbar{
    width: 300px;
    background-color: #01AFAA;
    position: absolute;
    right: 0;
    top: 77px;
    display:none;
    z-index: 999;
}
.custom-navbar li a
{
    color: #fff;
}
.trigger-navbar {
    display: block;
    margin-top: 33px;
    width: 100%;
    text-align: -webkit-center;
}
.sign_out_btn_box {
   
    margin-top: -53px;
}
button.btn.btn-primary.cancl_approve_btn_wdn {
    padding: 8px 36px;
    margin-bottom: -26px;
}
.book_det_wrapper {
    max-width: 95%;
}
.custom-navbar {
    display: none;
}
.nav-tabs.abc>li>a {
    padding: 4px 27px;
}
button.btn.btn-primary.create_btn_wdn {
    margin: 0 auto;
    display: flex;
    float: none;
    margin-top: 90px;
}
.Discount_price_heading {
    font-size: 25px;
}
h3.new_user {
    margin-top: 27px;
    text-align: left;
}
.custom_cont {
    padding: 36px 43px;
}
.wlcm_to_wdn {
    margin-top: 35px;
}
}
@media(max-width: 575px){
    .main_menu_three_tabs {
    width: 95%;
}

label.ttl_bnr.acc_scr_ttl.support_lbll {
    margin-right: 0;
}

.img_one_cam.tips_img_cam {
    width: auto;
}
button.apply_btnn{
    width: 100%;
    max-width: 33%;
}
span.from_to_select{
    display: block;
    width: 92%;
}
select#role{
    width: 37%;
}
input.to_text{
    width: 35%;
}input.from_text{
    width: 35%;
}
/*span.from_to_select{
    display: flex;
}*/
/*input.from_text{
    width: 200px;
}
input.to_text{
    width: 200px;
}*/
.short_descriptionn_divv{
    display: block;
}
.img_one_cam.new_class_img_one.intro_screen.tourr {
    left: -74px;
}
.groupp_introo {
    padding-left: 24px;
}
.img_one_cam.new_class_img_one.onboard_screen{
    top: -33px;
}
.groupp_introo.grp_onboard {
    padding: 41px 13px;
}
label.col-sm-2.col-form-label.ttl_bnr.add_cityy.label_neww_clsss {
    margin-right: -13px;
}
.card-body.card_body_add_team.new_cls_add_city.neww_city_add {
    padding-left: 26px;
}
input.form-control.formn_custom_class_add_form.help_spprt{
    margin-left: 20px;
}
.card-body.pad.custom_bodyy_crd.acc_scr{
    padding-left: 10px;
}
/*label.col-sm-2.col-form-label.ttl_bnr.add_cityy{
    width: 100%;
}
*/span.ttl_bnr.abt_uss{
    display: none;
}
label.ttl_bnr.addteam.promo{
    width: 37px;
}
input.form-control.formn_custom_class_add_form.add_cityy_form {
    width: 59%;
}
.card-body.card_body_add_team {
    padding-left: 2rem;
}
img.img-fluid.cam_filee_cls_featured_ads {
    margin-top: 49px;
}
/*button.btn.btn-default.add_button {
    margin: 0 auto;
    display: flex;
}*/
.ttl_bnr{
    margin-right: 0px;
}
.popup_box {
    max-width: 100%;
    padding: 20px 10px;
}

.common_for_algnmnt {
    font-size: 14px;
}
.select_age_grp_box {
    margin-left: 70px;
}
.start_end_time_algnment {
    padding-left: 83px;
    padding-top: 4px;
}
input.form-control.price_box_coupon {
    padding: 20px 11px;
}
.add_photo_styling_modal {
    font-size: 10px;
    padding:7px 10px;
}
.edit_activity_wrpr {
    margin-top: 7px;
}
label.wrapper_labels {
    padding-left: 65px;
}
textarea.custom_form_ctrl_pro_acti.textarea_desc_place {
    margin-right: 66px;
    font-size: 15px;
}
.for_partition_neww {
    font-size: 12px;
}
.or_text {
    margin-top: 180px
}
input.form-control.price_box_coupon::placeholder {
    font-size: 12px;
}
.qualify_text {
    font-size: 13px;
    top: 4px;
}
a.btn.btn-primary.save_and_proceed {
    font-size: 12px;
}
.activity_box {
    max-width: 79%;
    margin-top: 62px;
}
input.form-control.price_box {
    max-width: 94%;
}
.for_partition {
    font-size: 15px;
}
.name_cls {
    font-size: 15px;
}
.stv_fry {
    font-size: 16px;
}
.nav-tabs.abc>li>a {
    padding: 4px 34px;
}
.below_pass_stmt {
    font-size: 9px;
}
.add_bnr_img_para {
    font-size: 15px;
}
.Discount_price_heading {
    font-size: 28px;
}
button.btn.btn-primary.create_btn_wdn {
    font-size: 10px;
    padding: 8px 26px;
    margin-top: 39px;
}
.custom_cont {
    padding: 36px 29px;
}
.para_wdn {
    font-size: 13px;
}
.below_pass_stmt {
    padding-left: 17px;
}
}
@media(max-width: 450px){
.custom_cont {
    width: 95%;
}
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light.header_custom-class {
    width: 94%;
    left: -17px;
}
select#role {
    width: 30%;
}
button.btn.btn-default.add_button{
    margin-bottom: 10px;
}
button.btn.btn-default.mark_location_btn{
    font-size: 11px;
    padding: 4px 11px;
}
div#activity_1 {
    padding-left: 13px;
}
label.ttl_bnr.acc_scr_ttl.title_loogin {
    margin-right: -6px;
}
textarea.form-control.formn_custom_class_add_form.login_scrn {
    /* height: auto; */
    width: 219px;
}
.ttl_bnr.bnr_onbrd {
    width: 36px;
}
.ttl_bnr.add-gui {
    width: 75px;
}
label.ttl_bnr.addteam {
    width: 50px;
}
.card-body.card_body_add_team {
    padding-left: 2rem;
}
button.btn.btn-danger.allergy_malaria_btn {
    font-size: 9px;
}
.select_age_grp_box {
    margin-left: 51px;
}
button.btn.btn-primary.timing_btn {
    margin-left: 62px;
}
.container_custom_check_box1 {
    padding-left: 69px;
}
/*button.btn.btn-primary.create_coupon_btn {
    font-size: 10px;
}
button.btn.btn-primary.add_another_activity_btn
{    font-size: 10px;
}*/
input[type=file] {
    width: 75%;
}
/*.edit_activity_wrpr {
    margin-right: -170px;
    
}*/
textarea.custom_form_ctrl_pro_acti.textarea_desc_place {
    margin-right: 46px;
}
label.booking_cmplt_wrpr {
    font-size: 11px;
}
.for_partition_neww {
    font-size: 11px;
}
.tab-content_class_cstm {
    max-width: 90%;
}
.book_det_wrapper_old {
    padding: 10px 0px 10px 0px;
}
.common_for_algnmnt {
    font-size: 13px;
    padding-left: 0px;
}
.popup_box {
    max-width: 100%;
}
button.btn.btn-primary.view_act_det_btn {
    font-size: 12px;
    padding: 0 10px;
}
.enter_det_text {
    font-size: 20px;
}
.sign_out_btn_box {
    padding-right: 0px;
}
/*a.btn.btn-primary.save_and_proceed {
    padding: 0px 10px;
}*/
.qualify_text {
    font-size: 11px;
}
button.btn.btn-danger.sign_out_btn {
    font-size: 15px;
}
.trigger-navbar {
    padding-right: 72px;
}
/*button.btn.btn-primary.cancl_approve_btn_wdn {
    padding: 11px 61px;
}*/
.nav-tabs.abc>li>a {
    font-size: 13px;
    padding: 4px 19px;
}
.stv_fry {
    font-size: 14px;
    padding: 0px;
    padding-top: 11px;
    padding-bottom: 10px;
}
/*button.btn.btn-danger.allergy_malaria_btn {
    font-size: 12px;
    padding: 11px 5px;
}*/
.for_partition {
    font-size: 13px;
}
.name_cls {
    font-size: 12px;
}
.booking_left_part_for_padding {
 
    padding-left: 0px;
}
.below_pass_stmt {
    padding-left: 3px;
}
.add_bnr_img_para {
    font-size: 13px;
}
.Discount_price_heading {
    font-size: 18px;
}
img.img-fluid.addbannerimage_image {
    max-width: 50%;
}
input.form-control.price_box_coupon {
    max-width: 100%;
}
/*button.btn.btn-primary.create_btn_wdn {
    padding: 14px 65px;
}*/
}
@media(max-width: 400px){
/*button.btn.btn-primary.create_coupon_btn {
    margin-bottom: 15px;
}*/

button.btn.btn-default.logout_default_btn{
    font-size: 11px;
    padding: 4px 16px;
}
img.img-fluid.cam_filee_cls_featured_ads.intro_screen.banner_imgg_width {
    width: 173px;
}
.groupp_introo.support_grp_introo{
    padding-left: 0px;
}
#visitors-chart{
    display: none;
}
input.form-control.formn_custom_class_add_form.help_spprt{
    width: 158px;
}
label.ttl_bnr.acc_scr_ttl.support_lbll {
    margin-right: 0;
    text-align: center;
    margin: 0 auto;
    /* width: 45px; */
}
.card-body.pad.custom_bodyy_crd.acc_scr.SUPPORT {
    padding-left: 0;
}
.groupp_introo {
    padding-left: 24px;
    }
.select_age_grp_box {
    margin-left: 46px;
}
.start_end_time_algnment {
    padding-left: 45px;
}
img.img-fluid.img_of_search_icon {
   padding: 6px 27px;
}
.div_for_search_box {
    max-width: 100%;
}
label.booking_cmplt_wrpr {
    margin-top: 50px;
}
/*.edit_activity_wrpr {
    margin-top: -47px;
}*/
select.activity_drop_down {
    font-size: 16px;
}
textarea.custom_form_ctrl_pro_acti.textarea_desc_place {
    margin-right: 41px;
}
/*.common_for_algnmnt {
    padding: 9px;
}
.for_partition{
    padding: 9px;
}*/
/*.for_partition {
    padding: 14px;
    margin-bottom: -46px;
    font-size: 13px;
}
.common_for_algnmnt {
    font-size: 13px;
   
    padding: 26px;
     padding-left: 0px;
}*/
}
@media(max-width: 350px){
.select_age_grp_box {
    margin-left: 34px;
}
button.btn.btn-primary.add_another_activity_btn {
    font-size: 10px;
}
button.button.btn.btn-primary.create_coupon_btn {
    font-size: 10px;
}
textarea.custom_form_ctrl_pro_acti.textarea_desc_place {
    margin-right: 31px;
}
button.btn.btn-primary.timing_btn {
    margin-left: 49px;
}
.container_custom_check_box1 {
    padding-left: 55px;
}
}
@media(max-width: 320px){
.custom_cont {
    min-width: 300px;
}
/*.popup_box{
    min-width: 300px;
}*/
.book_det_wrapper{
min-width: 300px;
}
.main_menu_three_tabs {
    min-width: 300px;
}
.container-fluid.custom_cntnr_fld{
     min-width: 300px;
}
.form-enter-detail{
      min-width: 300px;
}
.fst_row_profile_page{
  min-width: 300px;
}
.form-enter-detail-coupon{
    min-width: 300px;
}
}